body {
    font-family: Georgia, Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: pink;
    font-size: 11px;
}

.container {
    position: relative;
    max-width: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_1 {
    position: relative;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.container_2 {
    max-width: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-decoration: underline;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Space between elements */
}

label {
    display: block;
    margin-bottom: 2px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
select {
    padding: 5px;
    font-size: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 5px 10px;
    font-size: 100%;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    max-height: none; /* Ensure there is no height limit */
    overflow: visible; /* Disable scrolling */
    display: flex;
    justify-content: left;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.table-container table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid #007bff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.update-button, .delete-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
}

.update-button {
    background-color: #007bff;
    color: white;
}

.update-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #d9534f;
    color: white;
}

.delete-button:hover {
    background-color: #c9302c;
}

.message {
    color: #d9534f;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.manualForm {
    display: table;
    margin: auto;
}

#manualForm1 {
    display: table;
    margin: auto;
}

.form-row {
    display: table-row;
    text-align: right;
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: pink;
    padding: 8px 16px;
    border-radius: 5px;
}

.back-link:hover {
    text-decoration: underline;
    background-color: #0056b3;
    color: #fff;
}

.navigation-menu ul {
    list-style: none;
    padding: 0;
}

.navigation-menu li {
    margin: 30px 0;
}

.navigation-menu a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    font-weight: normal;
    padding: 6px 4px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation-menu a:hover {
    background-color: pink;
    color: white;
}

/* Container for the client summary */
.container_3 {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: visible; /* Ensure the content doesn't scroll */
}

/* Container for the summary page*/
.container_4 {
    position: relative;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: visible; /* Ensure the content doesn't scroll */
}


/* Adjusting the filter form for compact layout */
/*#client_filter input,*/
#date_filter input,
#group_by {
    width: 150px; /* Reduced width */
    padding: 4px;
    font-size: 10px;
    margin-bottom: 4px;
}

#client_filter input {
    width: 237px;
    padding: 4px;
    font-size: 10px;
    margin-bottom: 4px;
}

#dates_filter input {
    width: 80px;
    padding: 4px;
    font-size: 10px;
    margin-bottom: 4px;
}

#location_filter input {
    width: 224px;
    padding: 4px;
    font-size: 10px;
    margin-bottom: 4px;
}


#phone_number_filter input {
    width: 100px;
    padding: 4px;
    font-size: 10px;
    margin-bottom: 4px;
}


#team_filter input {
    width: 350px;
    padding: 4px;
    font-size: 10px;
    margin-bottom: 4px;
}

#percentage_filter input {
    width: 50px;
    padding: 4px;
    font-size: 10px;
    margin-bottom: 4px;
}

.filter-form {
    margin-bottom: 15px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.filter-options {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filter-options label {
    margin-right: 4px;
    font-size: 10px;
}

.form-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#location_filter {
    display: flex;
    gap: 10px;
    /*flex-wrap: nowrap;*/
    /*flex: 1;*/
    min-width: 150px;
}

#phone_number_filter {
    display: flex;
    gap: 10px;
    /*flex-wrap: nowrap;*/
    /*flex: 1;*/
    min-width: 150px;
}

#client_filter {
    display: flex;
    gap: 10px;
    /*flex-wrap: nowrap;*/
    /*flex: 1;*/
    min-width: 150px;
}

#percentage_filter {
    display: flex;
    gap: 10px;
    /*flex-wrap: nowrap;*/
    /*flex: 1;*/
    min-width: 150px;
}

#date_filter {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap; /* Ensure Start and End Date stay on the same line */
  width: 100%; /* Ensure it takes up the full width */

}

#dates_filter {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap; /* Ensure Start and End Date stay on the same line */
  width: 100%; /* Ensure it takes up the full width */

}

#group_filter {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}
#team_filter {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
  width: 100%; /* Ensure it takes up the full width */
}
.filter-button {
    width: 150px;
    margin-top: 8px;
    padding: 4px 8px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #218838;
}


.job-picture {
    width: 100px;
    height: auto;
    margin-right: 5px;
}

#team_members {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#input_entries {
    font-family: Georgia, Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: fff;
    font-size: 11px;
}

/* Logo style */
.logo {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 100px; /* Adjust the size of the logo */
    height: auto;
    /*border-radius: 50%; /* Optional: if you want the logo to have rounded edges */
}
