<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Generation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Invoice Generation</h1>
    <p>Click the button below to download the sample Excel file.</p>

    <button id="download-excel">Download Sample.xlsx</button>

    <script>
        document.getElementById('download-excel').addEventListener('click', function () {
            window.location.href = '/download_excel';
        });
    </script>
</body>
</html>
