<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Teams to Clients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        <a href="{{ url_for('assign_teams') }}" class="back-link">The Renewable Energy Experts</a>
        <h1>TEAM RANKING</h1>
        <form method="POST" action="/team_ranking">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required>
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required>
            <button type="submit">Get Rankings</button>
        </form>

        {% if team_rankings %}
        <table>
            <thead>
                <tr>
                    <th>Team Member</th>
                    <th>Days Worked</th>
                    <th>Clients Visited</th>
                    <th>Total Days at Clients</th>
                    <th>Ranking Score</th>
                </tr>
            </thead>
            <tbody>
                {% for team_member, days_worked, clients_visited, days_clients_visited, ranking_score in team_rankings %}
                <tr>
                    <td>{{ team_member }}</td>
                    <td>{{ days_worked }}</td>
                    <td>{{ clients_visited }}</td>
                    <td>{{ days_clients_visited }}</td>
                    <td>{{ ranking_score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>
